<p>users-lists-works!</p>
<ng-container *ngIf="true">
<div *ngFor="let item of users">
<!--     <app-user-item [userData]="item"></app-user-item> -->
    <app-user-item  [userData]="item"></app-user-item>
</div>
</ng-container>
<!-- app-user-item [userData]="users[0]" (buttonClick)="onChildComponentClicked($event)"></app-user-item>
<app-user-item [userData]="users[1]" (buttonClick)="onChildComponentClicked($event)"></app-user-item> -->

<div [ngSwitch]="testVar">
    <p *ngSwitchCase='1'>Used for if-else below</p>
    <p *ngSwitchCase='2'>TEST 2</p>
</div>

<div *ngIf="testVar; else loggedOut"></div>

<ng-template #loggedOut>
    You are using logged out in Angular if-else statement!
</ng-template>